In [60]:
import os

import pandas as pd

filename = os.path.join("..", "..", "..", "outputs", "linea_d2_algoritmo", "output.csv")
df = pd.read_csv(filename, delimiter=";")

In [61]:
df.head()

,start,end,start_time,end_time,start_speed,end_speed,Wh,Ah,L/h,L/km,NOx,CO,HC,PM,CO2,battery_degradation
0,"(43.391264, -5.801079, 173.2862721503871)","(43.391468, -5.801223, 174.6766786202788)",0.000000,25.019632,0.186897,4.291832,153.453744,0.383634,0.0,0.0,0.001803,0.006762,0.000586,0.000045,0.0,1.043903e-07
1,"(43.391468, -5.801223, 174.6766786202788)","(43.391768, -5.801411, 174.9100775970146)",25.019632,32.018873,4.291832,3.660106,42.928678,0.107322,0.0,0.0,0.000859,0.003220,0.000279,0.000021,0.0,2.920318e-08
2,"(43.391768, -5.801411, 174.9100775970146)","(43.392097, -5.801549, 175.4675523051992)",32.018873,40.018409,3.660106,4.767924,49.063820,0.122660,0.0,0.0,0.004072,0.015271,0.001324,0.000102,0.0,3.337675e-08
3,"(43.392097, -5.801549, 175.4675523051992)","(43.39219, -5.801838, 174.6787773203105)",40.018409,46.018968,4.767924,4.940056,-2225.535076,-5.563838,0.0,0.0,0.000000,0.000000,0.000000,0.000000,0.0,0.000000e+00
4,"(43.39219, -5.801838, 174.6787773203105)","(43.392091, -5.802117, 174.6218505902216)",46.018968,50.016893,4.940056,6.779726,24.520606,0.061302,0.0,0.0,0.007596,0.028485,0.002469,0.000190,0.0,1.668069e-08

In [62]:
# Calcular la diferencia de tiempo en segundos
df["time_s"] = df["end_time"] - df["start_time"]

## Emisiones

In [63]:
def calculate_total_emission(df, contaminant_column):
    # Filtrar las columnas necesarias
    df_filtered = df[["time_s", contaminant_column]].copy()

    # Multiplicar la duraci√≥n por el contaminante
    df_filtered["emission_sect"] = (
        df_filtered["time_s"] * df_filtered[contaminant_column]
    )

    # Calcular el total
    total_emission = df_filtered["emission_sect"].sum()

    return total_emission

### NOx

In [64]:
df["NOx"].describe()

count    327.000000
mean       0.006675
std        0.009391
min        0.000000
25%        0.000000
50%        0.002828
75%        0.010043
max        0.079397
Name: NOx, dtype: float64

In [65]:
total_NOx = calculate_total_emission(df, "NOx")
print(total_NOx)

9.185250430080357

### CO

In [66]:
df["CO"].describe()

count    327.000000
mean       0.025031
std        0.035215
min        0.000000
25%        0.000000
50%        0.010606
75%        0.037661
max        0.297739
Name: CO, dtype: float64

In [67]:
total_CO = calculate_total_emission(df, "CO")
print(total_CO)

34.444689112801555

### HC

In [68]:
df["HC"].describe()

count    327.000000
mean       0.002169
std        0.003052
min        0.000000
25%        0.000000
50%        0.000919
75%        0.003264
max        0.025804
Name: HC, dtype: float64

In [69]:
total_HC = calculate_total_emission(df, "HC")
print(total_HC)

2.9852063897760726

### PM

In [70]:
df["PM"].describe()

count    327.000000
mean       0.000167
std        0.000235
min        0.000000
25%        0.000000
50%        0.000071
75%        0.000251
max        0.001985
Name: PM, dtype: float64

In [71]:
total_PM = calculate_total_emission(df, "PM")
print(total_PM)

0.2296312607519829

### CO2

In [72]:
df["CO2"].describe()

count    327.0
mean       0.0
std        0.0
min        0.0
25%        0.0
50%        0.0
75%        0.0
max        0.0
Name: CO2, dtype: float64

In [73]:
total_CO2 = calculate_total_emission(df, "CO2")
print(total_CO2)

0.0